# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\OneDrive - frc.utn.edu.ar\UTN\E3 - Tecnología de Software de Base\Práctico\Trabajo Práctico\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
